* {
    font-family: Josefin sans, sans-serif;

    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);
    --dark-greyish-red: hsl(0, 6%, 24%);
    --white-to-dark-white: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    --pint-to-dark-pink: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}




.logo {
    padding: 1.75rem 2rem;

    & img {
        height: 1.35rem;
    }
}

.hero {
    margin-bottom: 3rem;
}



.hero__img {
    margin-bottom: 2rem;
    width: 100vw;
    height: auto;
}


.hero__header {
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: 600;
    padding: 1.70rem;
    text-align: center;
    letter-spacing: .75rem;

}

.hero__header--accent {
    font-weight: 300;
    color: var(--desaturated-red);
}

.hero__description {

    color: var(--desaturated-red);
    text-align: center;
    padding: 0 1.3rem;
    margin-bottom: 2rem;
    line-height: 1.5rem;

}


.hero__form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__form--input {
    width: 80%;
    border: 1px solid var(--desaturated-red);
    border-radius: 2rem;
    padding: 1rem;

}

.hero__form--input:focus {
    outline-color: var(--desaturated-red);
}

.error:focus {
    outline-color: var(--soft-red);
}


.hero__form--input::placeholder {
    color: lightgray;
}

.hero__form--button {
    position: absolute;
    left: 75%;
    width: 12px;
    padding: .93rem 1.75rem;
    border-radius: 3rem;
    background: var(--pint-to-dark-pink);
}


.hero__form--error {
    position: absolute;
    display: none;
    width: 20px;
    height: 20px;
    left: 68%;
    z-index: 1;
}

.hero__form--error-label {
    display: none;
    font-size: .8rem;
    color: var(--soft-red);
    margin-left: 4rem;
    margin-top: .5rem;
}